DB_NAME=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=
BASE_URL=

# API CONFIG
API_BASE="api"
API_VERSION="v3"

# Application config
APPLICATION_PORT=8081
APPLICATION_HOST=0.0.0.0


DB_PORT=5432
DB_POOL={"acquire": 3000, "max": 30, "min": 10, "idle": 2000}

# Redis Configuration
REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_DATABASE=0